[profile1]
host_script_url=https://10.10.10.10/script.php
; new_host_header=a.com

[profile2]
host_script_url=https://10.10.10.10/script.php
new_host_header=a.com

[profile3]
host_script_url=https://10.10.10.10/script.php
new_host_header=a.com